@font-face {
    font-family: "IBM Terminal";
    src: url("/public/term.wof") format("woff2");
}

$primary-color: #247C10;
$secondary-color: #194909;

html, body {
    overflow: hidden;
    width: 1920px; height: 1080px;
    padding: 0px;
    margin: 0px;

    font-smooth: never;
    font-family: 'IBM Terminal', monospace;
    text-shadow: 0px 2px 10px $secondary-color;
    -webkit-font-smoothing : none;
    font-size: 22px;
    font-weight: 600;

    
    color: $primary-color;
    background-color: #000;
    background-image: url("/public/gwgc201819_overlay.png");
}

* {
    box-sizing: border-box;
}

#display1, #display2 {
    position: absolute;
    background: #000;
    padding: 10px;

    &::before {
        z-index: 2;
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;

        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }

    &::after {
        pointer-events: none;
        content: "";
        z-index: 999;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        
        opacity: 0;
        width: 100%; height: 100%;

        background-color: rgba(18, 16, 16, 0.3);
        animation: flicker 0.15s infinite;
    }
}

#display1 {
    top: 183px; left: 60px;
    width: 1024px;
    height: 768px;

    .side-by-side {
        display: flex;
        height: 70%;
        padding-bottom: 10px;

        .action {
            width: 75%;
            padding: 0px 10px 10px 0px;
            border-right: 4px solid;
        }
        .lists {
            padding: 0px 0px 10px 10px;

            .crew {
                width: 306px; height: 35%;
                white-space: pre;

                border-bottom: 4px solid;
            }

            .inventory {
                margin-top: 10px;
                white-space: pre;
            }
        }
    }

    .terminal {
        border-top: 4px solid;

        .content {
            overflow-y: scroll;
            height: 200px;
            margin-top: 10px;
            padding: 0px 0px 0px 10px;
            white-space: pre;
            text-transform: uppercase;

            .cursor {
                display: inline;
                border-left: 10px solid;
                margin-left: 5px;
            }
        }
    }
}

#display2 {
    right: 63px; top: 75px;
    width: 720px;
    height: 480px;
}

@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }